@page
@model WebChess.Pages.Games.IndexModel

@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Identity
@using WebChess.Areas.Identity.Data
@inject UserManager<WebChessUser> UserManager

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-9">
            <form>
                <p>
                    Search by player name: <input type="text" asp-for="SearchString" />
                    <input type="submit" value="Filter" />
                </p>
            </form>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ChessGame[0].gameType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ChessGame[0].playerWhite)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ChessGame[0].playerBlack)
                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ChessGame[0].winner)
                            </th>
                            <th>Analyse</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ChessGame)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.gameType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.playerWhite)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.playerBlack)
                                </td>
                                <td>
                                    @Html.HiddenFor(modelItem => item.pgn)
                                </td>
                                <td>
                                    @Html.HiddenFor(modelItem => item.fens)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.winner)
                                </td>
                                <td>
                                    <a asp-page="./Analyse" asp-route-id="@item.ID"><i class="fas fa-cogs p-2"></i></a>
                                    @if (User.Identity.Name != null)
                                    {
                                    var user = await UserManager.FindByNameAsync(User.Identity.Name);
                                    @if (await UserManager.IsInRoleAsync(user, "Admin"))
                                    {
                                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a>
                                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                                    }
                                        }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row align-items-center sticky">

                <div class="row">
                    <div id="blackName" class="col">
                        <h4>Black</h4>
                    </div>
                    <div class="col">

                    </div>
                </div>
                <div id="myBoard" class="board-fixed"></div>
                <div class="row">
                    <div id="whiteName" class="col">
                        <h4>White</h4>
                    </div>
                    <div class="col">

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

@section scripts {
    <script src="~/js/chessboard-1.0.0.js"></script>
    <script src="~/js/chess.js"></script>
    <script>
        $(document).ready(function () {
            var fens;

            $(".table").on('click', 'tr', function () {
                // get the current row
                var currentRow = $(this).closest("tr");

                var pgn = currentRow.find("#item_pgn").val(); 
                fens = currentRow.find("#item_fens").val(); 

                var whiteN = currentRow.find("td:eq(1)").text(); 
                var blackN = currentRow.find("td:eq(2)").text(); 
                fens = fens.split(",")
                pgn = pgn.split(" ")
                var lastPos = fens[fens.length - 1]
                board.position(lastPos)

                $("#whiteName h4").replaceWith("<h4>" + whiteN + "</h4>");
                $("#blackName h4").replaceWith("<h4>" + blackN + "</h4>");
            });
        });


        var config = {
            showNotation: false,
            position: 'start'
        }
        board = Chessboard('myBoard', config)
    </script>
}
